// Material design palette tool
// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=00B8D4

.card-brawler { border-color: #7200ca; }
.card-header-brawler {
  background-color: #ce93d8;
}

.card-demolitions { border-color: #c7a500; }
.card-header-demolitions {
  background-color: #ffee58;
}

.card-scout { border-color: #009624; }
.card-header-scout {
  background-color: #00e676;
}

.card-tactician { border-color: #0026ca; }
.card-header-tactician {
  background-color: #2196f3;
}

.card-tech { border-color: #0088a3; }
.card-header-tech {
  background-color: #80deea;
}

.card-warrior { border-color: #9b0000; }
.card-header-warrior {
  background-color: #ff3333;
}
