// Material design palette tool
// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=00B8D4

.badge-brawler { background-color: #7200ca; }
.badge-demolitions { background-color: #c7a500; }
.badge-scout { background-color: #009624; }
.badge-tactician { background-color: #0026ca; }
.badge-tech { background-color: #0088a3; }
.badge-warrior { background-color: #9b0000; }
