// Material design palette tool
// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=00B8D4

$bot-color-brawler: #7200ca;
$bot-color-demolitions: #c7a500;
$bot-color-scout: #009624;
$bot-color-tactician: #0026ca;
$bot-color-tech: #0088a3;
$bot-color-warrior: #9b0000;

.badge-bot-brawler { background-color: $bot-color-brawler; }
.badge-bot-demolitions { background-color: $bot-color-demolitions; }
.badge-bot-scout { background-color: $bot-color-scout; }
.badge-bot-tactician { background-color: $bot-color-tactician; }
.badge-bot-tech { background-color: $bot-color-tech; }
.badge-bot-warrior { background-color: $bot-color-warrior; }

$mod-color-offense: #d50000;
$mod-color-defense: #304ffe;
$mod-color-utility: #ffd600;

.badge-mod-offense { background-color: $mod-color-offense; }
.badge-mod-defense { background-color: $mod-color-defense; }
.badge-mod-utility { background-color: $mod-color-utility; }

.nav-bot-active, .nav-mod-active { border-bottom: 0.2em solid #fff; }

.img-xs { max-width: 7% }
.img-sm { max-width: 16% }
.img-md { max-width: 45% }
.img-lg { max-width: 85% }
.img-xl { max-width: 100% }
