// Material design palette tool
// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=00B8D4

.card-brawler { border-color: #7200ca; }
.card-header-brawler {
  background-color: #aa00ff;
}

.card-demolitions { border-color: #c7a500; }
.card-header-demolitions {
  background-color: #ffd600;
}

.card-scout { border-color: #009624; }
.card-header-scout {
  background-color: #00c853;
}

.card-tactician { border-color: #0026ca; }
.card-header-tactician {
  background-color: #304ffe;
}

.card-tech { border-color: #0088a3; }
.card-header-tech {
  background-color: #00b8d4;
}

.card-warrior { border-color: #9b0000; }
.card-header-warrior {
  background-color: #d50000;
}
